{% extends 'layouts/base.html' %}

{% set page_title = 'Home' %}

{% block container %}


    <div id="hello">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 centered">
                    <div ng-controller="portfolio">
                        <span>{{ title }}</span>
                        <d3-arc data="d3Portfolio"></d3-arc>
                    </div>
                    <h3>Matthew Harrison Full Stack Engineer</h3>
                </div><!-- /col-lg-8 -->
            </div><!-- /row -->
        </div> <!-- /container -->
    </div><!-- /hello -->
    
    <div id="green">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 centered">
                    <!-- <img src="assets/img/iphone.png" alt=""> -->
                </div>
                
                <div class="col-lg-7 centered">
                    <h3>WHAT WE CAN DO?</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row centered mt grid">
            <h3>OUR LATEST WORK</h3>
            <div class="mt"></div>
            <div class="col-lg-4">
                <!-- <a href="#"><img src="assets/img/01.jpg" alt=""></a> -->
            </div>
            <div class="col-lg-4">
                <!-- <a href="#"><img src="assets/img/02.jpg" alt=""></a> -->
            </div>
            <div class="col-lg-4">
                <!-- <a href="#"><img src="assets/img/03.jpg" alt=""></a> -->
            </div>
        </div>
        
        <div class="row centered mt grid">
            <div class="mt"></div>      
            <div class="col-lg-4">
                <!-- <a href="#"><img src="assets/img/04.jpg" alt=""></a> -->
            </div>
            <div class="col-lg-4">
                <!-- <a href="#"><img src="assets/img/05.jpg" alt=""></a> -->
            </div>
            <div class="col-lg-4">
                <!-- <a href="#"><img src="assets/img/06.jpg" alt=""></a> -->
            </div>
        </div>
        
        <div class="row mt centered">
            <div class="col-lg-7 col-lg-offset-1 mt">
                    <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
            </div>
            
            <div class="col-lg-3 mt">
                <p><button type="button" class="btn btn-theme btn-lg">Email Me!</button></p>
            </div>
        </div>
    </div>


    <div id="skills">
        <div class="container">
            <div class="row centered">
                <h3>MY SKILLS</h3>
                <div class="col-lg-3 mt">
                    <canvas id="javascript" height="130" width="130"></canvas>
                    <p>Javascript</p>
                    <br>
                </div>
                <div class="col-lg-3 mt">
                    <canvas id="bootstrap" height="130" width="130"></canvas>
                    <p>Bootstrap</p>
                    <br>
                </div>
                <div class="col-lg-3 mt">
                    <canvas id="wordpress" height="130" width="130"></canvas>
                    <p>Wordpress</p>
                    <br>
                </div>
                <div class="col-lg-3 mt">
                    <canvas id="photoshop" height="130" width="130"></canvas>
                    <p>Photoshop</p>
                    <br>
                </div>
            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /skills -->
    
    <section id="contact"></section>


{% endblock %}